/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loading {
  position: absolute;
  z-index: 30;
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.loading > span {
  font-size: xx-large;
  animation: blink 1s linear infinite;
  position: absolute;
  font-weight: 700;
  position: relative;
  top: 35vh;
  left: 25vw;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
}


.appContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 80%;
  height: 70vh;
  min-height: fit-content;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  /* margin-top: 110px; */
  /* border-style: solid; */
}

.meetingIinfo {
  border-right: 0.5px solid darkgray;
  flex: 0 1 30%;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 0.8rem;
}

.meetingTitle {
  font-size: 1.9rem;
  text-decoration: double;
  padding-top: 5px;
  padding-bottom: 30px;
  font-weight: 300;
  line-height: 1em;
}

.mmm {
  color: rgb(134, 134, 134);
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 10px;
  width: 98%;
  padding-left: 5px;
  line-height: 1em;
}

/****************calender cmponent*****************/

.actionArea {
  flex: 0 1 67%;
  height: 99%;
}

.Calender {
  flex: 0 1 100%;
  height: 100%;
}

.calenderDiv {
  width: 100%;
  display: flex;
  height: 100%;
}

.calenderOnly {
  height: 100%;
  flex: 0 1 100%;
  padding: 2rem;
}

.calenderTime {
  flex: 2 1 68%;
  padding: 1rem;
}

.hide {
  display: none;
}

.show {
  display: visible;
}

.timeSliceContainer {
  flex: 1 1 32%;
  overflow-y: scroll;
}

.timeSlice {
  width: 98%;
  display: fle;
}

.timeSliceBody {
  width: 99%;
  display: flex;
  flex-direction: column;
}

.timeList {
  flex: 1 1 100%;
}

.half {
  width: 48%;
  height: 50px;
  background-color: white;
  color: #00308f;
  border: 0.5px solid #00308f;
  font-weight: 500;
  border-radius: 5px;
  animation: buttonHalf;
  margin-top: 5px;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  font-size: medium;
  margin-left: 2px;
  margin-right: 2px;
}

@keyframes buttonHalf {
  50% {
    width: 45%;
  }
  100% {
    width: 48%;
  }
}

.full {
  width: 99%;
  height: 40px;
  background-color: white;
  color: #00308f;
  border: 0.5px solid #00308f;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  margin-top: 5px;
}

.marked {
  background-color: #00308f;
  color: white;
}

.select {
  font-size: medium;
}

.confirmationBody {
  margin: 20px;
  padding-left: 30px;
}

input[name],
input[email] {
  width: 90%;
  height: 4vh;
  border: 0.5px solid rgb(134, 134, 134);
  border-style: double;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 25px;
}

textarea {
  border: 0.5px solid rgb(134, 134, 134);
  border-style: double;
  border-radius: 5px;
}

.formButton {
  width: 150px !important;
  height: 40px;
  background-color: white;
  color: #00308f;
  border: 0.5px solid #6b94e6;

  font-size: large;
  font-weight: 500;
  margin: 5px;
}

.formButton:hover {
  background-color: #87affd;
  color: black;
}

/*caleder*/

.react-calendar {
  position: relative;
  width: 98% !important;
  height: fit-content !important;
  border: none !important;
  max-width: none !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem !important;
  font-weight: bolder;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 50% !important;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  /* width: 50%; */
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.3rem !important;
  font-weight: 600;
}
.react-calendar button {
  margin: 10px;
  padding: 1rem !important;
  outline: none !important;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 3rem !important;
  margin-bottom: 1.5em;
}
.react-calendar__navigation button {
  width: fit-content !important;
  flex: 3 1 1rem !important;
  font-size: 1.1rem !important;
}
.react-calendar__navigation button:disabled {
  background-color: white !important;
  color: rgb(97, 97, 97) !important;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: lightblue !important;
  border-radius: 100px;
  width: fit-content !important;
  height: fit-content !important;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800 !important;
  font-size: 1.2rem !important;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.6rem !important;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem !important;
  font-weight: bold;
  padding-top: 1px !important;
  border-radius: 5px !important;
}
.react-calendar__month-view__days__day--weekend {
  color: rgb(70, 69, 69) !important;
  background-color: none !important;
  border-radius: 100px;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: midnightblue !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  width: 50% !important;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: white !important;
  color: rgb(109, 108, 108) !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 100px;
}
/***************************************************************************/
.react-calendar__tile--now {
  background: #ffff76;
  border-radius: 50px !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
  border-radius: 50px !important;
}
.react-calendar__tile--hasActive {
  background: #76baff !important;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff !important;
}
.react-calendar__tile--active {
  background: #006edc !important;
  color: white !important;
  border-radius: 50px !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff !important;
  border-radius: 50px !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: lightblue !important;
  border-radius: 50px !important;
}

/*******************keyframe****************************/

@media screen and (max-width: 1370px) {
  .meetingIinfo {
    flex: 0 1 35%;
    display: flex;
    flex-direction: column;
  }

  .actionArea {
    flex: 0 1 60%;
  }

  .calenderTime {
    flex: 0 1 60%;
    padding: 1rem;
  }

  .timeSliceContainer {
    flex: 0 1 60%;
  }

  .half {
    width: 47%;
  }
}

@media screen and (max-width: 1272px) {
  .App {
    width: 100%;
    height: 100vh;
    align-items: flex-start;
  }

  .appContainer {
    flex: 0 1 95%;
    margin-top: 3rem;
    height: 80%;
  }

  .iconParent:first-child {
    font-size: 5rem !important;
  }

  .meetingIinfo {
    flex: 0 1 30% !important;
    height: 90%;
  }

  .meetingTitle {
    font-size: 2rem;
    font-weight: 800;
  }

  .mmm {
    font-size: 1.35rem;
    font-weight: 500;
  }

  .actionArea {
    flex: 0 1 65% !important;
  }

  .calenderTime {
    flex: 0 1 40%;
    padding-left: 0;
    padding-right: 0;
  }

  .timeSliceContainer {
    flex: 0 1 60%;
    height: 98%;
  }

  .timeSlice {
    width: 100%;
  }

  .timeSliceBody {
    width: 99%;
  }
  .half {
    width: 48%;
  }
}

@media screen and (max-width: 1100px) {
  .App {
    width: 100%;
    height: 100vh;
    align-items: flex-start;
  }

  .appContainer {
    flex: 0 1 99%;
    margin-top: 10px;
    height: 80%;
    
    
  }

  .iconParent:first-child {
    font-size: 5rem !important;
  }

  .meetingIinfo {
    flex: 0 0 30% !important;
    height: 90%;
    
  }

  .meetingTitle {
    font-size: 2rem;
    font-weight: 800;
  }

  .mmm {
    font-size: 1.35rem;
    font-weight: 500;
  }

  .actionArea {
    flex: 0 1 65% !important;
  }

  .calenderTime {
    flex: 0 1 40%;
    padding-left: 0;
    padding-right: 0;
  }

  .timeSliceContainer {
    flex: 0 1 60%;
    height: 98%;
  }

  .timeSlice {
    width: 100%;
  }

  .timeSliceBody {
    width: 99%;
  }
  .half {
    width: 46%;
    font-size: 1rem;
  }
}
.hello{
  
}